@using BookingSystemDls.DataModel.BookingCode
@model BookingCodeDataModel

@{
    ViewData["Title"] = "Booking Code";
}

<div class="table-index">
    <a class="regular-button" asp-controller="BookingCode" asp-action="UpsertForm">Add New</a>
    <table class="regular-table">
        <thead>
            <tr>
                <th>Action</th>
                <th>Booking Code</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var row in Model.IndexDataModels)
            {
                <tr>
                    <td>
                        <a asp-controller="BookingCode" asp-action="UpsertForm" asp-route-code="@row.Code">
                            <i class="fa-solid fa-pencil"></i>
                        </a>
                        <a asp-controller="BookingCode" asp-action="Delete" asp-route-code="@row.Code">
                            <i class="fa-solid fa-trash"></i>
                        </a>
                    </td>
                    <td>@row.Code</td>
                </tr>
            }
    </table>
    <div class="regular-pagination">
        <div class="navigation">
            <div class="page">
                @if (ViewBag.Page > 1)
                {
                    <a asp-controller="BookingCode" asp-action="Index" asp-route-page="1" asp-route-displaData="@ViewBag.DisplayData">
                        <i class="fa-solid fa-backward-step"></i>
                    </a>
                    <a asp-controller="BookingCode" asp-action="Index" asp-route-page="@((int)ViewBag.Page - 1)" asp-route-displayData="@ViewBag.DisplayData">
                        <i class="fa-solid fa-caret-left"></i>
                    </a>
                }
                else
                {
                    <a>
                        <i class="fa-solid fa-backward-step"></i>
                    </a>
                    <a>
                        <i class="fa-solid fa-caret-left"></i>
                    </a>
                }
                <p>@ViewBag.Page</p>
                @if (ViewBag.Page < ViewBag.TotalPage)
                {
                    <a asp-controller="BookingCode" asp-action="Index" asp-route-page="@((int)ViewBag.Page + 1)" asp-route-displayData="@ViewBag.DisplayData">
                        <i class="fa-solid fa-caret-right"></i>
                    </a>
                    <a asp-controller="BookingCode" asp-action="Index" asp-route-page="@ViewBag.TotalPage" asp-route-displayData="@ViewBag.DisplayData">
                        <i class="fa-solid fa-forward-step"></i>
                    </a>
                }
                else
                {
                    <a>
                        <i class="fa-solid fa-caret-right"></i>
                    </a>
                    <a>
                        <i class="fa-solid fa-forward-step"></i>
                    </a>
                }
            </div>
            <div class="regular-dropdown">
                <div class="select">
                    <p>@ViewBag.DisplayData</p>
                    <i class="fa-solid fa-chevron-down"></i>
                </div>
                <div class="option">
                    <a asp-controller="BookingCode" asp-action="Index" asp-route-displayData="5">5</a>
                    <a asp-controller="BookingCode" asp-action="Index" asp-route-displayData="10">10</a>
                    <a asp-controller="BookingCode" asp-action="Index" asp-route-displayData="15">15</a>
                    <a asp-controller="BookingCode" asp-action="Index" asp-route-displayData="20">20</a>
                </div>
            </div>
        </div>
        <div class="info">
            <p>@ViewBag.DataFrom - @ViewBag.DataTo of @ViewBag.TotalData item</p>
        </div>
    </div>
</div>
